* {
    margin: 0;
    padding: 0;
}


html {
    font-size: 62.5%;
}

.index,.ing,.contacto,.about,.clases {
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}
.index {
    background-image: url(../img/backgrounds/index.jpg);
}

.ing {
    background-image: url(../img/backgrounds/globe2.jpg);
}

.contacto {
    background-image: url(../img/backgrounds/contacto.jpg);
}

.about {
    background-image: url(../img/backgrounds/about.jpg);
}

.clases {
    background-image: url(../img/backgrounds/clases.jpg);
}

body {

    text-align: center;
    overflow: scroll;

    @media screen and (min-width: 768px) {
        .gridBody {
            display: grid;
            grid-template-areas: 
            "header header"
            "nav nav"
            "main main"
            "main main"
            "footer footer";
        }
    }

    @media screen and (min-width: 1024px) {

        .gridBody {
            display: grid;
            grid-template-areas: 
            "header header header"
            "nav nav nav"
            "main main main"
            "main main main"
            "main main main"
            "footer footer footer";
        }
    }
}