.transbox{
    position:relative;
    display:block;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .transbox::before{
    content:"";
    background-image: url(../img/backgrounds/white.jpg);
    opacity:0.5;
    position:absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    height: auto;
    width: auto;
    z-index:-3;
  }

footer {
    grid-area:footer;
    display:flex;
    flex-direction: column;
    padding: 25px;
    font-family: $fuente-header-and-footer;
    margin-right: 20px;
    margin-left: 5px;

    .quote {
        font-size: $footer-quote-font-size;
    }

    .yeats {
        font-size: $footer-yeats-font-size;
    }

    a {
        font-size: $footer-a-font-size;
    }

}

@media screen and (min-width: 768px) {
    .transbox{
        margin-right: 50px;
        margin-left: 50px;
      }

    footer {
        padding: 35px;
        margin-right: 25px;
        margin-left: 10px;

        .quote { 
            font-size: $footer-quote-font-size + 1rem;
        }

        .yeats {
            font-size: $footer-yeats-font-size + 1rem; 
        }
        
        a {
            font-size: $footer-a-font-size + 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {

    .transbox{
        margin-right: 300px;
        margin-left: 300px;
      }

    footer {
        .quote { 
            font-size: $footer-quote-font-size + 1.5rem;
        }

        .yeats {
            font-size: $footer-yeats-font-size + 1.5rem; 
        }
        
        a {
            font-size: $footer-a-font-size + 1.5rem;
        }
    }
}
    
