.transbox{
    position:relative;
    display:block;
    margin-right: 25px;
    margin-left: 25px;
  }
  
  .transbox::before{
    content:"";
   @extend .textTransbox::before
  }

footer {
    grid-area: map-get($map: estilo, $key: grid-area);
    display: map-get($map: estilo, $key: displey);
    flex-direction: map-get($estilo,flex-direction);
    padding: map-get($map: estilo, $key: padding);
    font-family: map-get($map: estilo, $key: font-family);
    margin-right: map-get($map: estilo, $key: margin-right);
    margin-left: map-get($map: estilo, $key: margin-left);

    .quote {
        font-size: $footer-quote-font-size;
    }

    .yeats {
        font-size: $footer-yeats-font-size;
    }

    a {
        font-size: $footer-a-font-size;
    }

}

@media screen and (min-width: 768px) {
    .transbox{
        margin-right: 50px;
        margin-left: 50px;
      }

    footer {
        padding: 35px;
        margin-right: 25px;
        margin-left: 10px;

        .quote { 
            font-size: $footer-quote-font-size + 1rem;
        }

        .yeats {
            font-size: $footer-yeats-font-size + 1rem; 
        }
        
        a {
            font-size: $footer-a-font-size + 1rem;
        }
    }
}

@media screen and (min-width: 1024px) {

    .transbox{
        margin-right: 300px;
        margin-left: 300px;
      }

    footer {
        .quote { 
            font-size: $footer-quote-font-size + 1.5rem;
        }

        .yeats {
            font-size: $footer-yeats-font-size + 1.5rem; 
        }
        
        a {
            font-size: $footer-a-font-size + 1.5rem;
        }
    }
}
    
