.imgIntro {
    border: #1d70b8 1px solid;
    width: 300px;
    height: auto;
    margin-top: 20px;

    .laptop {
        height: 200px;
    }
}

.globe {
    width: 290px;
    margin-bottom: 20px;
} 

@media screen and (min-width: 768px) {
    
    .imgIntro {
        width: 600px;
        margin-top: 20px;

        .laptop {
            height: 400px;
        }
    }
    
    .globe {
        width: 550px;    
    } 
}

@media screen and (min-width: 1024px) {
 
    .imgIntro {
        width: 800px;
        margin-top: 20px;

        .laptop {
            height: 600px;
        }
    }
    
    .globe {
        width: 800px;    
    } 
}