main {

    grid-area: main;
    margin-right: 25px;
    margin-left: 5px;

    h3 {
        font-size: $h3-font-size;
        margin-top: 25px;
    }

    h4, h5 {
        font-size: $h4-h5-font-size;
        }
        
    h4 {
        margin-bottom: 20px;
    }

    h5 {
        margin-bottom: 25px;
    }

    .articleP, .redes {
        font-family: $fuente-p;
        font-size: $p-font-size;
        line-height: 2.5rem;
        margin: 5px 30px 25px 30px;
        text-align: justify;
    }

    .aboutP {
        font-family: $fuente-header-and-footer;
        font-size: $p-font-size + 2rem;
        text-align: center;
        margin-top: 40px;
    }

    h3::selection,h4::selection,p::selection {
        background: #ffdd00;
        color: black;
    }

    .textTransbox, .indexTransbox {
        position:relative;
        display:block;
        margin-right: 30px;
        margin-left: 30px;
      }
      
      .textTransbox::before {
        content:"";
        background-image: url(../img/backgrounds/white.jpg);
        opacity:0.5;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: auto;
        width: auto;
        z-index:-3;
      }

    @media screen and (min-width: 768px) {

        margin-right: 25px;
        margin-left: 10px;


        h3 {
            font-size: $h3-font-size + 1rem;
        }

        h4, h5 {
            font-size: $h4-h5-font-size + 1rem;
        }

        .articleP {
            font-size: $p-font-size + 0.5rem;
            line-height: 3.5rem;
            margin: 10px 40px 30px 40px;  
        }

        .aboutP {
            font-size: $p-font-size + 3rem;
        }

    }

    @media screen and (min-width: 1024px) {
        h3 {
            font-size: $h3-font-size + 2rem;
        }

        h4, h5 {
            font-size: $h4-h5-font-size + 2rem;
        }

        .articleP {
            font-size: $p-font-size + 1rem;
            line-height: 4rem;
            margin: 15px 80px 35px 80px;  
        }

        .aboutP {
            font-size: $p-font-size + 4rem;
        }

        .sliderAbout {

            margin-left: 40px;
            margin-right: 40px;

            .tituloLibros {
                grid-area: tituloLibros;
                padding-top: 30%;
                padding-left: 10%;
                padding-right: 10%;
                
            }
    
            .sliderLibros {
                grid-area: sliderLibros;
            }
        
            display: grid;
            grid-template-areas: 
            "tituloLibros sliderLibros";
        }
    
    }

}

