main {

    grid-area: main;

    h3 {
        font-size: $h3-font-size;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    h4, h5 {
        font-size: $h4-h5-font-size;
        margin-bottom: 30px;
        }

    .accordionTitle {
        margin-bottom: 10px;
    }
        
    .articleP, .aboutClasesP {
        font-family: $fuente-p;
        font-size: $p-font-size;
        line-height: 3rem;
        margin: 5px 30px 30px 5px;
        text-align: justify;
    }

    .aboutP {
        font-family: $fuente-header-and-footer;
        font-size: $p-font-size + 0.5rem;
        text-align: center;
        margin-top: 40px;
    }

    h3::selection,h4::selection,p::selection {
        background: #ffdd00;
        color: black;
    }

    .accordionClases {
        margin-right: 20px;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .textTransbox  {
        position:relative;
        display:block;
        margin-right: 20px;
        margin-left: 15px;
      }
      
      .textTransbox::before {
        content:"";
        background-image: url(../img/backgrounds/white.jpg);
        opacity:0.5;
        position:absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        height: auto;
        width: auto;
        z-index: -3;
      }

    @media screen and (min-width: 768px) {

        margin-right: 20px;
        margin-left: 10px;


        h3 {
            font-size: $h3-font-size + 1rem;
        }

        h4, h5 {
            font-size: $h4-h5-font-size + 0.5rem;
            margin-bottom: 35px;
        }

        .articleP, .aboutClasesP {
            font-size: $p-font-size + 0.2rem;
            line-height: 3.5rem;
            margin: 10px 40px 30px 40px;  
            
        }

        .aboutP {
            font-size: $p-font-size + 3rem;
        }
        

    }

    @media screen and (min-width: 1024px) {

        margin-right: 35px;
        margin-left: 20px;

        h3 {
            font-size: $h3-font-size + 2rem;
        }

        h4, h5 {
            font-size: $h4-h5-font-size + 1rem;
        }

        .articleP, .aboutClasesP {
            font-size: $p-font-size + 0.5rem;
            line-height: 4rem;
            margin: 15px 80px 35px 80px;  
        }

        .aboutP {
            font-size: $p-font-size + 4rem;
        }

        .aboutSection {
            .me {
                grid-area: me;
            }

            .aboutMe {
                grid-area: aboutMe;
            }

            display: grid;
            grid-template-areas: 
            "me aboutMe";
        }

    }

}

