ul {
    list-style-type: none;
}

a {
    font-family: $fuente-p;
    text-decoration: none;
    color: #ffffff;
    font-size: $p-font-size;

    &:hover {
        background-color: #28a197;
        height: auto;
        width: auto;
    }
}

nav {
    background-color: #318edf;
    grid-area: nav;
    margin-left: 10px;
    margin-right: 10px;
}


@media screen and (min-width: 768px) {

    a {
        font-size: $p-font-size + 0.5rem;  
    }
    
}

