@font-face {
    font-family: 'DMSans-Regular';
    src: url(../font/DMSans-Regular.ttf);
}

@font-face {
    font-family: 'beautyDemo';
    src: url(../font/beautyDemo.ttf);
}

$fuente-header-and-footer: 'beautyDemo';
$fuente-p: 'DMSans-Regular';
$h1-font-size: 4rem;
$h2-font-size: 3rem;
$h3-font-size: 2.5rem;
$h4-h5-font-size: 2rem;
$p-font-size: 1.5rem;
$footer-quote-font-size:3rem;
$footer-yeats-font-size: 2.5rem;
$footer-a-font-size:2rem;
$form-font-size: 1.5rem;