// FONTS

@font-face {
    font-family: 'DMSans-Regular';
    src: url(../font/DMSans-Regular.ttf);
}

@font-face {
    font-family: 'beautyDemo';
    src: url(../font/beautyDemo.ttf);
}

$fuente-header-and-footer: 'beautyDemo';
$fuente-p: 'DMSans-Regular';

//FONT SIZES

$h1-font-size: 3.5rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-h5-font-size: 1.5rem;
$p-font-size: 1.8rem;
$index-slider-font-size: 1.5rem;
$footer-quote-font-size:2.5rem;
$footer-yeats-font-size: 2rem;
$footer-a-font-size:1.7rem;
$form-font-size: 1rem;

